nav {
    display: flex;
    flex: 100%;
    align-items: center;
    .fleche {
        flex: 10%;
        padding: 0 25px;
        /* margin: 25px; */
        font-size: 20px;
    }
    
    .logo {
        display: flex;
        
        flex: 65%;
        font-size: 30px;
        padding: 20px 0;
        padding: 20px 0 20px 50px;
        font-family: 'shrikhand';
        font-weight: $gras;
    }
}