
body {
display: flex;
flex-direction: column;
width: 100%;
margin: 0%;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
}

main {

}

.location {
    text-align: center;
    background-color: rgb(196, 196, 196);
}

.location__icon {

}

.location__city {

}

.explore, .explore--border {
    text-align: center;
    background-color: rgb(230, 230, 230);
    
    padding: 20px;
}

.explore__title {

}

.explore__description {
    margin: 10px;
}

.explore__button {
    background-color: #FF79DA;
    border-radius: 30px;
    color: white;
    margin: 20px;
    padding: 20px;

}



/* debt gamme Fontionnement */

.fonctionnement {

}

.fonctionnement__titre {

}

.fonctionnement__choixresto {

}


.fonctionnement__iconemobile {
    
}

/* Fin Fonctionnement*/





 /* debut la gamme ".restaurant" */



 /* Fini la gamme ".restaurant" */


footer {

}


 /*   Ici se termine la partie de breakpoints mobile  et en bas on passe au desktop */

 