
body {
display: flex;
flex-direction: column;
width: 100%;
margin: 0%;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
}

main {

}

.location {
    text-align: center;
    background-color: rgb(230, 230, 230);
}

.location__icon {

}

.location__city {

}

.explore {
    text-align: center;
    background-color: rgb(240, 240, 240);
    
    padding: 20px;
}

.explore__title {

}

.explore__description {
    margin: 10px;
}

.explore__button {
    background-color: #FF79DA;
    border-radius: 30px;
    color: white;
    margin: 10px 20px;
    padding: 20px;
    border: none;
}

.explore--border {

}

/* debt gamme Fontionnement */

.fonctionnement {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.fonctionnement__titre {
    margin: 20px;
}

.fonctionnement__choixresto {
    
}


.fonctionnement__iconemobile {
width: 15%;
margin: 10px;
}

.fonctionnement__phrasechoixresto {
    margin: 10px;
}

.fonctionnement__composemenu {

}

.fonctionnement__iconepoints {

}

.fonctionnement__iconeburger {
    width: 15%;
    margin: 10px;
}

.fonctionnement__phrasechoixmenu {
    margin: 10px;
}

.fonctionnement__degustresto {

}

.fonctionnement__iconeresto {
    width: 15%;
    margin: 10px;
}

.fonctionnement__phrasechoixdegustresto {
    margin: 10px;
}



.fonctionnement__choixresto, .fonctionnement__composemenu, .fonctionnement__degustresto {
    display: flex;
    flex: 80%;
    flex-direction: row;
    text-align: center;
    text-align-last: start;
    border-radius: 20px;
    margin: 15px;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 0px 9px 0px grey;

}



.restaurants {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
}

figure {
    border: 1px solid red; 
    border-radius: 20px;
}

figcaption {
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex: 100%;
    background-color: white;
    border-radius: 0 0 20px 20px;
}

.restaurants__phrase {
    margin: 20px;
}

/* .restaurants__vitrine {
        margin: 20px;
        display: flex;
        flex-direction: column;
        flex: 100%;
        height: 225px;
        background-size: cover;
        background-repeat: no-repeat;
    
        
} */

.restaurants__lapalette {
    display: flex;
    flex: 100%;
    flex-direction: column;
    min-height: 225px;
    border: 1px solid green;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;

}

.restaurants__lapalette img {
    display: flex;
    flex: 100%;
    height: 175px;
    border-radius: 20px 20px 0 0;
}


.caption__lapalettetextes {

}

.caption__lapalettenom {

}
.caption__lapaletteville {

}


.restaurants__lanote {
    display: flex;
    flex: 100%;
    flex-direction: column;
    min-height: 225px;
    border: 1px solid green;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
}

.restaurants__lanote img {
    display: flex;
    flex: 100%;
    height: 175px;
    object-fit: cover;
    border-radius:  20px 20px 0 0;
}
.restaurants__lafrançaise {
    display: flex;
    flex: 100%;
    flex-direction: column;
    min-height: 225px;
    border: 1px solid green;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
}

.restaurants__lafrançaise img {
    display: flex;
    flex: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.restaurants__ledelice {
    display: flex;
    flex: 100%;
    flex-direction: column;
    min-height: 225px;
    border: 1px solid green;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
}

.restaurants__ledelice img {
    display: flex;
    flex: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

 /* Fini la gamme ".restaurant" */


footer {

}

.contaktpartner {
    display: flex;
    flex-direction: column;
    background-color: #393939;
    color: white;
    padding: 20px;
}

.logo {

    margin: 20px 5px;
}

.contaktpartner__proposition {
    display: flex;
    flex-direction: row;
}

.contaktpartner__couverts {
    margin: 5px;
}

.contaktpartner__phraseproposition {
    margin: 5px;
}

.contaktpartner__bepartner {
    display: flex;
    flex-direction: row;
}

.contaktpartner__serremain {
   margin: 5px;
}

.contaktpartner__phrasebepartner {
    margin: 5px;
}

.contaktpartner__legal {
    display: flex;
    margin: 5px;
}

.contaktpartner__phraselegale {
    
}

.contaktpartner__contact {
    display: flex;
    margin: 5px 5px 25px 5px;
}

.contaktpartner__phrasecontakt {
    
}



 /*   Ici se termine la partie de breakpoints mobile  et en bas on passe au desktop */

 