@charset "UTF-8";
/* en haut les variables pour index*/
/* en bas les mixin pour index*/
/* Fin des mixin en haut*/
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0%;
  font-family: "Roboto", "Courier", "monospace";
}
body header {
  display: flex;
  justify-content: center;
  flex: 100%;
  margin: 10px;
}
body header .logo {
  font-size: 30px;
}
body header .logo .shrikhand {
  font-family: "Shrikhand";
}
body main {
  /* debt gamme Fontionnement */
  /* Ici on aura 2fois le ".fonctionnement deguster" donc je je ferai une mixin en @include icic les trois fois avec la propriété de degustez*/
  /* Voici le 1er fonctionnement degustez 
  Il manque les ihover et les autres hover 
  Attention, fonctionement degustez egal fction choix, menu  */
  /* Le 2e des 2 "fonctionment degustez" ici en bas*/
  /* ne pas depasser ce commentaire, 
  le guillemet en bas est la toute fin, le body*/
}
body main .location {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #e6e6e6;
  padding: 10px;
}
body main .location .location__icon {
  margin: 10px;
}
body main .location .location__city {
  margin: 10px;
  font-weight: 600;
}
body main .explore {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
}
body main .explore .explore__title {
  font-size: 25px;
  font-weight: 600;
}
body main .explore .explore__description {
  margin: 10px;
  font-size: 17px;
}
body main .explore .explore__button {
  background: linear-gradient(0deg, #9356DC, transparent);
  background-color: #FF79DA;
  /* ici la couleur que je vais mettre après le clic du explore__button signé .explore__button:active */
  border-radius: 30px;
  color: white;
  margin: 10px 20px;
  padding: 15px 20px;
  border: none;
  box-shadow: 0px 2px 8px grey;
  font-weight: 600;
}
body main .fonctionnement {
  display: flex;
  flex-direction: column;
  width: 100%;
}
body main .fonctionnement .fonctionnement__titre {
  margin: 20px;
  font-size: 20px;
  font-weight: 600;
}
body main .fonctionnement__degustez {
  display: flex;
  flex: 80%;
  align-items: center;
  flex-direction: row;
  text-align: center;
  text-align-last: start;
  border-radius: 20px;
  margin: 15px;
  padding: 15px;
  background-color: #f0f0f0;
  box-shadow: 0px 5px 13px -4px #c1c1c1;
}
body main .fonctionnement__degustez .fonctionnement__numero-choix {
  color: white;
  margin: 10px;
  position: relative;
  margin-left: -25px;
  background-color: #9356DC;
  padding: 5px 10px;
  border-radius: 20px;
}
body main .fonctionnement__degustez .fonctionnement__i-resto {
  width: 15%;
  margin: 15px 0px 15px 10px;
  color: grey;
}
body main .fonctionnement__degustez .fonctionnement__i-resto .phone {
  color: grey;
  font-size: 20px;
}
body main .fonctionnement__degustez .fonctionnement__phrase-degustez {
  margin: 10px;
  font-weight: 600;
}
body main .fonctionnement__degustez {
  display: flex;
  flex: 80%;
  align-items: center;
  flex-direction: row;
  text-align: center;
  text-align-last: start;
  border-radius: 20px;
  margin: 15px;
  padding: 15px;
  background-color: #f0f0f0;
  box-shadow: 0px 5px 13px -4px #c1c1c1;
}
body main .fonctionnement__degustez .fonctionnement__numero-choix {
  color: white;
  margin: 10px;
  position: relative;
  margin-left: -25px;
  background-color: #9356DC;
  padding: 5px 10px;
  border-radius: 20px;
}
body main .fonctionnement__degustez .fonctionnement__trois-points {
  display: flex;
  align-items: center;
  font-size: 17px;
  color: grey;
  margin: 0 3px;
}
body main .fonctionnement__degustez .fonctionnement__icone-burger {
  display: flex;
  align-items: center;
  width: 15%;
  margin: 0;
  font-size: 17px;
  color: grey;
}
body main .fonctionnement__degustez .fonctionnement__choix-menu {
  display: flex;
  align-items: center;
  margin: 10px;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
