a {
  .fleche {
  flex: 10%;
/*  padding: 0 25px;       
  margin: 25px; */
  padding: 0 20px 0 20px;
  font-size: 20px;
  color: black;
  }
}

.logo {
    display: flex;
    justify-content: center;
    flex: 65%;
    font-size: 30px;
    padding: 10px 0;
    // padding: 20px 0 20px 50px;
    font-family: $shrikhand;
    font-weight: $gras;
    
}


.bouton {
    display: flex;
    justify-content: center;

    .bouton-commander {
      background: linear-gradient(0deg, #9356dc, transparent);
      background-color: #ff79da;
      border-radius: 30px;
      color: white;
      margin: 35px 20px;
      padding: 20px 50px;
      border: none;
      font-size: 17px;

      &:hover {
            
      // @extend %bouton-hover ne marche pas encore je vais voir pourquoi ....;
      background-color: lighten($secondary-color, 5%);
      box-shadow: 0px 2px 12px darken(grey, 30%);
        }
    }

    
  }


