.dessert__titre {
    border-bottom: 3px solid $anim-color;
    margin: 10px;
    width: 40px;
  }
  
  .dessert__groupe {
    .entree__composition {
      display: flex;
      flex-grow: 4;
      justify-content: space-between;
      flex-direction: row;
      margin: 15px;
      background-color: white;
      /* padding: 10px; */
      border-radius: 15px;
      cursor: grab;
      transition: 1s;  
      .dessert__choix {
        margin: 5px;
        flex: 75%;
        transition: all 1000s;
        @extend %text-hidden; 
        .dessert__assiette {
          margin: 5px;
          font-size: 18px;
          font-weight: $super-gras;
        }  
        .dessert__accompagnement {
          margin: 5px;
          font-size: 15px;
        }
      }  
      .prix {
        display: flex;
        align-items: flex-end;
        margin: 0 20px 10px 0;
        transition: all 500s;
        font-weight: $super-gras;
      }  
      .ok {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0;
        background-color: $anim-color;
        color: white;
        border-radius: 0 10px 10px 0;
        font-size: 20px;
        overflow: hidden;
        transition: all 1000ms cubic-bezier(0.63, -0.29, 0.46, 1.32);  
        .ok-icone {
          transform: rotateZ(0deg);
          transition: all 1000ms;  
          @keyframes ok-turn {
            0% {
              transform: rotateZ(0deg);
            }  
            100% {
              transform: rotateZ(180deg);
            }
          }
        }        
      }        
    &:hover > .ok {
      transition: all 2s ease-in-out;
      animation-delay: 5s;
      background-color: $anim-color;
      width: 60px;
    }
  
      &:hover .ok-icone {
        animation: ok-turn 1700ms ease-in-out 0.5s alternate-reverse both;
      }     
    }
    @keyframes appear {
      0% {
        transform: translateY(30%);
        opacity: 0;
      }
      100% {
        transform: translateY(0%);
        opacity: 0.9;
      }
    }

  }
  