.header-spinner {
    /* pour cacher la page je mets en bas "display none".. mais c est en vrai en flex*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    width: 100%;
    min-width: 375px;
    height: 100%;    
    background-color: white;
    z-index: 1;
    position: absolute;
    transform: translateY(0px);
    animation: page-up 3s cubic-bezier(.39,.575,.565,1.000) both;    
    @include page-up; 
    &__page {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        opacity: 0.75;
        flex: 90%;
        width: 90%;
        height: 500px;
        margin: 10px;
        box-shadow: 3px 1px 20px 0px grey;          
    }    
        .header-spinner-font {            
            font-size: 40px;
            position: relative;
            top: 200px;
            z-index: 1;
            // text-shadow:0px -20px 8px black;
            transform: rotateZ(0deg);
            animation: rotation-load 1300ms infinite linear;
            /* Principe ci dessous important */
            /* hover d abord */
            /* hover finshed*/
            /* puis keyframes*/
            @include rotation-load;                
        }
        .text-chargement {
            // font-size: 15px;
            font-weight: 500;
            background-color: transparent;
            border: 1px solid palevioletred;
            border-radius: 20px;
            box-shadow: 8px 8px 20px 0px #a1a1a1;
            padding: 5px 10px;
            animation: text-anim 3s cubic-bezier(.39,.575,.565,1.000) 0.5s 5 normal both;            
            @include text-anim;            
        }
}