/* Ca ne marche pas pour une raison inconnue */


.header-spinner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    flex: 100%;
    min-width: 375px;
    height: 300%;
    background-color: white;
    z-index: 1;
    position: absolute;
    /* ca ce sera  nommé plutotloader*/
  
  
    &__page {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    opacity: 0.75;
    flex: 90%;
    width: 90%;
    height: 500px;
    margin: 10px;
    background-color: pink;
    position: relative;
    border-radius: 170px 170px 170px 170px;
    box-shadow: 3px 1px 20px 0px grey;

  
    }

    .tete {
        text-align: center;
        
        
        background-color: red;
        margin: 1px;
        width: 50px;
        height: 50px;
        padding: 5px;
        position: relative;
        bottom: -50px;
        border-radius: 80px 80px 80px 80px;
    }
    .torse {            
        background-color: rebeccapurple;
        
        margin: 1px;
        width: 100px;
        height: 220px;
        border-radius: 20px 20px;
        padding: 5px;
        position:relative
    }

    .avt-bras-g {
        background-color: greenyellow;
        margin: 1px;            


        position: relative;
        bottom: 100px;
        left: -90px;
        height: 20px;
        border-radius: 30px;
        
    }

    .avt-bras-d {
        background-color: greenyellow;
        margin: 1px;
        transform-origin: left;
        
        position: relative;
        bottom: 120px;
        left: 90px;
        height: 20px;
        border-radius: 30px;
    }
    

    .bras-g {
        background-color:rgb(170, 170, 218);
        margin: 1px;
        transform-origin: right;
        transform: rotateZ(30deg);
        position: relative;
        left: -160px;

        bottom: 100px;
        border-radius: 20px;

        
    }

    .bras-d {
        background-color:rgb(170, 170, 218);
        margin: 1px;
        transform-origin: left;
        transform: rotateZ(-30deg);

        position: relative;
        left: 160px;

        bottom: 120px;
        border-radius: 20px;

        
        
    }   
    
    .main-g {
        background-color:orange;
        height: 50px;
        margin: 1px;
        position: relative;
        left: -220px;
        bottom: 180px;
        border-radius: 50px;
    }

    .main-d {
        background-color:orange;
        height: 50px;
        margin: 1px;
        position: relative;
        left: 220px;

        
        bottom: 200px;
        border-radius: 50px;
    }

    .table {
        background-color: gray;
        width: 300px;
        position: relative;
        top: 100px;
    }


        .header-spinner-font {
            
            font-size: 40px;
            position: relative;
            top: 200px;
            z-index: 1;
            transform: rotateZ(0deg);
            animation: rotation-load 3s infinite linear;
            
            


            /* hover d abord */
            /* hover finshed*/

            /* keyframes*/
                @keyframes rotation-load {

                    // 0% {
                    //     opacity: 0.2;
                    //     transform: rotate(0deg);
                    // }

                    // 10% {
                    //     opacity: 1;
                    // }

                    // 50% {
                    //     transform: rotate(180deg);
                    // }
                    // 75% {
                    //     opacity: 1;
                    //     transform: rotate(270deg);

                    // }
                    // 90% {
                    //     opacity: 0.8;
                        
                    // }
                    // 95% {
                    //     opacity: 0;
                    //     transform:rotate(360deg);
                        
                    // }
                    // 100% {
                    //     transform: rotate(0deg);
                    // }
                    
                        0% {
                            opacity: 0;
                            transform: rotate(0deg);
                            
                        }
                        10% {
                            opacity: 1;
                        }

                        55% {
                            opacity: 1;
                        }
                        60% {
                            opacity: 0;
                            transform: rotate(360deg);
                        }

                        100% {
                            opacity: 0;
                            transform: rotate(0deg);
                        }
                }
            /* fin keyframes*/
        }
  
    
}