body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0%;
    font-family: 'Roboto', 'Courier', 'monospace'; 

    }

/* Je vais essayer plus tard de faire que ce body d index soit le meme que les body de resto c est a dire prit a partir de layout  "@include bodyapp;" */
    