/* ICi c est la page de loadingqui qui,
dans l'ordre est juste avant la page index.html */

@mixin page-up {
    @keyframes page-up {

        0% {
            opacity: 0;
            position: absolute;
            transform: translateY(150px);                   
        }

        10% {
            opacity: 1;
        }
        15% {
            transform: translateY(0px);
        }

        50% {
            opacity: 1;
            transform: translateY(0px);
        }
        70% {
            opacity: 1;      
            transform: translateY(0px);       
        }
        71% {
            opacity: 1;
        }

        90% {
            opacity: 0.4;
        }
        100% {
            opacity: 0;
            transform: translateY(100px);
        }
        
    }
    
}


@mixin rotation-load {
    @keyframes rotation-load {

        // 0% {
        //     opacity: 0.2;
        //     transform: rotate(0deg);
        // }
        // 10% {
        //     opacity: 1;
        // }
        // 50% {
        //     transform: rotate(180deg);
        // }
        // 75% {
        //     opacity: 1;
        //     transform: rotate(270deg);
        // }
        // 90% {
        //     opacity: 0.8;       
        // }
        // 95% {
        //     opacity: 0;
        //     transform:rotate(360deg);    
        // }
        // 100% {
        //     transform: rotate(0deg);
        // }
        
            0% {
                opacity: 0;
                transform: rotate(0deg);
                
            }
            10% {
                opacity: 1;
            }

            55% {
                opacity: 1;
            }
            60% {
                opacity: 0;
                transform: rotate(360deg);
            }

            100% {
                opacity: 0;
                transform: rotate(0deg);
            }
    }
}



/* Fin de mixin page loading */

@mixin nav {
    /* Verifier l'utilité de ce mixin*/
    @include logo();
    
    
    

}

/* Fin des propo de index.html et debt des rpops des pages restos*/

@mixin fleche() {
    a {
        .fleche {
        flex: 10%;
    /*  padding: 0 25px;       
        margin: 25px; */
        padding: 0 50px 0 20px;
        font-size: 20px;
        }
    }
}



@mixin logo {
    /* Ce mixin appartient aux restos*/
    .logo {
        display: flex;        
        flex: 65%;
        justify-content: center;
        font-size: 30px;
        // margin: 10px 0;
        padding: 10px 20px 10px 0;
        font-family: $shrikhand;
        font-weight: $gras;
            
    }  
}

@mixin fonctionnement__degustez {
    display: flex;
    flex: 80%;
    align-items: center;
    flex-direction: row;
    text-align: center;
    text-align-last: start;
    border-radius: 20px;
    margin: 15px;
    padding: 15px;
    background-color: $gris-fonce;
    box-shadow:0px 5px 13px -4px #c1c1c1;
}


@mixin fonctionnement__numero-choix {
    color: $blanc;
    margin: 10px;
    position: relative;
    margin-left: -25px;
    background-color: $primary-color;
    padding: 5px 10px;
    border-radius: 20px;
}
/* Fin des 2 mixins lourdes*/


@mixin lien-prop {
    text-decoration: none;
    color: black;
}
/* en haut les mixin pour index*/
         

@mixin full-heart {
    @keyframes full-heart {
        0% {
            font-weight: 500;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            transform-origin:bottom;
            opacity: 0;
            font-size: 30px;
            transform: translateY(0);                    
        }
    
        25% {
            transform-origin:bottom;
            opacity: 0.25;
        }
    
        50% {
            opacity: 0.4;
            font-size: 30px;

        }
    
        75% {
            transform-origin:bottom;
            opacity: 0.85;
        }

        100% {
            background-clip: text;
            -webkit-background-clip: text;
            color: $primary-color;
            opacity: 1;
            font-size: 30px;
            font-weight: 700;
            filter: brightness(1.30);
            
        }
    
    }
}







/*Fin des mixins de index tests */


// /* FIN DE CODE INDEX ici*///////////////////////////////////////////

// Dbut du domaine restos 









// // @mixin heading-shadow($colour:lightness-shift($colour-primary), $offset: $heading-shadow-size){
// //     text-shadow: $offset $offset $colour;
// // }

// // @mixin border($colour:$colour-primary) {
// //     border: .1rem solid $colour;
// // }

// // @mixin img-ratio {
// //     width: 100%;
// //         display: block;
// //         overflow: hidden;
// //         padding-top: 56.25%;
// //         position: relative;
// //         & img {
// //             position: absolute;
// //             top: 50%;
// //             left: 50%;
// //             width: 100%;
// //             transform: translate(-50%, -50%);
// //         }
// // }

// // @mixin btn {
// //     padding: $grid-gutter;
// //     @include border;
// //     color: $colour-primary;
// //     background: $colour-secondary;
// //     cursor: pointer;
// //     &:hover{
// //         background: $colour-primary;
// //         color: $colour-accent;
// //     }
// //     &--full-width {
// //         width: 100%;
// //         margin: 0 auto;
// //     }
// // }

