


@mixin nav {
    /* Verifier l'utilité de ce mixin*/
    @include logo();
    
    
    

}

/* Fin des propo de index.html et debt des rpops des pages restos*/



@mixin fleche() {
a {
.fleche {
    flex: 10%;
    padding: 0 25px;
    /* margin: 25px; */
    font-size: 20px;
}
}
}

@mixin logo {
    /* Ce mixin appartient aux restos*/
    .logo {
        display: flex;        
        flex: 65%;
        justify-content: center;
        font-size: 30px;
        // margin: 10px 0;
        // padding: 20px 0 20px 50px;
        font-family: $shrikhand;
        font-weight: $gras;
            
    }  
}


@mixin location {

    .location {
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: rgb(230, 230, 230);
        padding: 10px;

        &__icon {
            margin: 10px;
        }

        &__city {
            margin: 10px;
            font-weight: $super-gras;

        }

    }  
}
            

@mixin explore {

    .explore {
        text-align: center;
        background-color: rgb(240, 240, 240);
        padding: 20px;

        &__title {
            font-size: 25px;
            font-weight: $super-gras;
        }

        &__description {
            margin: 10px;
            font-size: 17px;
        }

        &__button {
            background: linear-gradient(0deg, #9356DC, transparent);
            background-color: #FF79DA;
            /* ici la couleur que je vais mettre après le clic du explore__button signé .explore__button:active */
            border-radius: 30px;
            color: $blanc;
            margin: 10px 20px;
            padding: 15px 20px;
            border: none;
            box-shadow: 0px 2px 8px grey;
            font-weight: $super-gras;
        }

    }
}



@mixin fonctionnement {

    .fonctionnement {
        display: flex;
        flex-direction: column;
        width: 100%;

        &__titre {
            margin: 20px;
            font-size: 20px;
            font-weight: $super-gras;

            }

        /*  Attention, fonctionement degustez egal fction choix, menu  */
        &__degustez {
            display: flex;
            flex: 80%;
            align-items: center;
            flex-direction: row;
            text-align: center;
            text-align-last: start;
            border-radius: 20px;
            margin: 15px;
            padding: 15px;
            background-color: $gris-fonce;
            box-shadow:0px 5px 13px -4px #c1c1c1;

            .fonctionnement__numero-choix {
                color: $blanc;
                margin: 10px;
                position: relative;
                margin-left: -25px;
                background-color: $primary-color;
                padding: 5px 10px;
                border-radius: 20px;
            }

            .fonctionnement__i-resto {
                width: 15%;
                margin: 15px 0px 15px 10px;
                color: grey;
                &:hover {
                    color: $primary-color;
                }

                .phone {
                    color: grey;
                    font-size: 20px;
                }
          
            }
            .fonctionnement__phrase-degustez {
                margin: 10px;
                font-weight: $super-gras;
            }
        }
        /* Le 2e des 2 "fonctionment degustez" ici en bas*/

        .fonctionnement__degustez {
            display: flex;
            flex: 80%;
            align-items: center;
            flex-direction: row;
            text-align: center;
            text-align-last: start;
            border-radius: 20px;
            margin: 15px;
            padding: 15px;
            background-color: $gris-fonce;
            box-shadow:0px 5px 13px -4px #c1c1c1;

                &:hover {
                    background-color: #ece3f7;
                    }

                &:hover .phone {
                        color: $primary-color;
                    } 
                    &:hover .ihover {
                        color: $primary-color;
                    }  

                &:active {
                    background-color: $secondary-color;
                    opacity: 0.6;
                    }
                    
                &:visited {
                    background-color: $primary-color;
                    }
                       
            .fonctionnement__numero-choix {
                color: $blanc;
                margin: 10px;
                position: relative;
                margin-left: -25px;
                background-color: $primary-color;
                padding: 5px 10px;
                border-radius: 20px;
            }
            .fonctionnement__trois-points {
                display: flex;
                align-items: center;
                font-size: 17px;
                color: grey;
                margin: 0 3px;

                }
                .fonctionnement__icone-burger {
                    display: flex;
                    align-items: center;
                    width: 15%;
                    margin: 0;
                    font-size: 17px;
                    color: grey;
                    
                }                    
                .fonctionnement__choix-menu {
                    display: flex;
                    align-items: center;
                    margin: 10px;
                    font-weight: $super-gras;
                }
                
        }
    
    }

}


@mixin restaurants {
    .restaurants {
        background-color: $gris-fonce;
        display: flex;
        flex-direction: column;

        &__titre {
            margin: 60px 20px 20px 20px;
            font-size: 25px;
            font-weight: $super-gras;
        }

        &__vitrine {

            a{
                text-decoration: none;
                color: black;

                .restaurants__nom {
                    display: flex;
                    flex: 100%;
                    flex-direction: column;
                    min-height: 225px;
                    border-radius: 20px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    margin: 20px;

                    & img {
                        display: flex;
                        width: 100%;
                        height: 175px;
                        border-radius: 20px 20px 0 0;
                        object-fit: cover;
                    }
                
                    figcaption {
                        display: flex;
                        justify-content: space-between;
                        flex-direction: row;
                        flex: 100%;
                        min-height: 65px;
                        background-color: $blanc;
                        border-radius: 0 0 20px 20px;
                   
                        .restaurant__texte {

                            .restaurant__nom {
                                font-size: 18px;
                                margin: 15px 0 5px 15px;
                                font-weight: $super-gras;
                            }  
                        
                            .restaurant__lieu {
                                margin: 5px 0 15px 15px;
                                font-size: 18px;
                            }
                        
                        }

                        .caption__iconecoeur {
        
                            display: flex;
                            margin: 5px 15px;
                            align-items: center;
                            font-size: 23px;

                            .active {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            /*  background-clip: text;
                                -webkit-background-clip: text;
                                color: transparent;*/

                                &:hover {
                                    font-weight: 600;
                                    font-size: 30px;
                                    color: #ca72e7;
                                    animation: full-heart 0.2s;
                                    animation-timing-function: ease-in-out; 

                                }

                                @include  full-heart;

                                &:active {
                                    content: " \f004";
                                    font-weight: 600;
                                    font-size: 30px;
                                    color: #ca72e7;
                                }
                                &:visited {
                                    font-weight: 600;
                                    font-size: 30px;
                                    color: #ca72e7;
                                }
                            }

                        }   
                    
                    }

                }

            }
        }
    }
}

@mixin footer {
    
    .footer {
        display: flex;
        flex-direction: column;
        background-color: #393939;
        color: $blanc;
        margin: 0;
        padding: 20px;

        .footer__logo {
            margin: 20px 0;
            font-weight: 100;
            font-size: 18px;
            list-style: none;
            font-family: $shrikhand;
        }

        .footer__proposition {           
            display: flex;
            flex-direction: row;

            .footer__icone {
                margin: 5px;
             }
             .footer__phrase-proposition {
                margin: 5px;
            }
        }

        .footer__bepartner {
            display: flex;
            flex-direction: row;

            .footer__icone {
                margin: 5px;
             }
             .footer__item {
                margin: 5px;
            }
        }

        .footer__legal {
            display: flex;
            margin: 5px;

            // .footer__phraselegale {
    
            // }
        }

        .footer__contact {
            display: flex;
            margin: 5px 5px 25px 5px;

            a {
                text-decoration: none;
                color: black;

                .footer__phrasecontakt {
                    color: $blanc;
                }                     /* je cherche ou est la place de ce <a> vu qu'il est ddissimilé un peur partout. */
            }
            
        }

    }
}

/* en haut les mixin pour index*/
         


@mixin full-heart {
    @keyframes full-heart {
        0% {
            opacity: 0;
            font-size: 30px
        }
    
        25% {
            transform-origin:center;
            transform: scale(1.5);
            opacity: 0.5;
            font-size: 40px;
        }
    
        50% {
            opacity: 1;
            font-size: 30px;
            transform: scale(0.8)
        }
    
        75% {
            transform-origin:center;
            transform: scale(1.5);
            opacity: 0.5;
            font-size: 40px;
        }
    
        100% {
            opacity: 1;
            font-size: 30px;
        }
    
    }
}


// /* Fin de code index ici*/

// // @mixin heading-shadow($colour:lightness-shift($colour-primary), $offset: $heading-shadow-size){
// //     text-shadow: $offset $offset $colour;
// // }

// // @mixin border($colour:$colour-primary) {
// //     border: .1rem solid $colour;
// // }

// // @mixin img-ratio {
// //     width: 100%;
// //         display: block;
// //         overflow: hidden;
// //         padding-top: 56.25%;
// //         position: relative;
// //         & img {
// //             position: absolute;
// //             top: 50%;
// //             left: 50%;
// //             width: 100%;
// //             transform: translate(-50%, -50%);
// //         }
// // }

// // @mixin btn {
// //     padding: $grid-gutter;
// //     @include border;
// //     color: $colour-primary;
// //     background: $colour-secondary;
// //     cursor: pointer;
// //     &:hover{
// //         background: $colour-primary;
// //         color: $colour-accent;
// //     }
// //     &--full-width {
// //         width: 100%;
// //         margin: 0 auto;
// //     }
// // }

// @mixin nav {
//     nav {
//         display: flex;
//         flex: 100%;
//         align-items: center;
//         .fleche {
//             flex: 10%;
//             padding: 0 25px;
//             /* margin: 25px; */
//             font-size: 20px;
//         }
        
//         .logo {
//             display: flex;
            
//             flex: 65%;
//             font-size: 30px;
//             padding: 20px 0;
//             padding: 20px 0 20px 50px;
//             font-family: 'shrikhand';
//             font-weight: $gras;
//         }
//     }
// }

// @mixin coeur {
//     display: flex;
//     margin: 10px 0;
//     font-size: 23px;
    
// }



// /* coeuract et @include coeuract a surveiller là en bas */
// @mixin coeuractif {
//     font-weight: 600;
//      font-size: 30px;
//      color: #ca72e7;
//      animation: full-heart 0.2s;
//      animation-timing-function: ease-in-out;
// }

// @mixin active {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     &:hover {
//         @include coeuractif();
//     }
// }

// @mixin entreegroupe   {
//     .entree__groupe {
//         @include entree;
//         @include appear;
//         @include entreecomposition;
//         /* Par securité je vais mettre deux fois en plus entreecompo vu qu'il est là deux fois.
//      mais posssiblement pas utile*/
//         @include entreecomposition;
//         @include entreecomposition;
    
//     }
// }

// @mixin entree {
//     animation-name: appear;
//     animation-duration: 2000ms;
//     animation-timing-function: ease-in-out;
//     animation-delay: 0.3s;
//     animation-fill-mode: both;
// }

// @mixin appear {
//     @keyframes appear {

//         0% {
//             transform: all;
//             transform: translateY(30%);
//             opacity:0;
//         }
    
        
//         100% {
//             transform: translateY(0%); 
//             opacity: 0.9;
//         }
//     }
// } 


// @mixin ok-icone {
//     transform: rotateZ(0deg);
//     transition: all 1000ms;
// }

// @mixin entreecomposition {
//     .entreecomposition {
//         display: flex;
//         flex-grow: 4;
//         justify-content: space-between;
//         flex-direction: row;
//         margin: 15px;
//         background-color: $white;
//         /* padding: 10px; */
//         border-radius: 15px;
//         cursor: grab;
//         transition: 1s;
    
//         .entree__choix {
//            margin: 5px;
//            flex: 75%;
//            transition: all 1000s;
    
//            .choix__assiette {
//             margin: 5px;
//             font-size: 18px;
//             font-weight: $super-gras;
    
//             }
//             .choix__accompagnement {
//                 margin: 5px;
//                 font-size: 15px;
//             }
    
//        }
       
//     .prix {
//                 display: flex;
//                 align-items: flex-end;
//                 margin: 0 20px 10px 0;
//                 transition: all 500s;
        
//                 font-weight: $super-gras;
//             }
        
//             .ok {
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 width: 0;
//                 background-color: $anim-color;
//                 color: $blanc;
//                 border-radius: 0 10px 10px 0;
//                 font-size: 20px;
//                 overflow: hidden;
            
//                 transform: translateX(10%), rotateX(-30deg);
            
//                 transition: all 1000ms cubic-bezier(0.63,-0.29, 0.46, 1.32);
        
//                 .ok-icone {
//                     @include ok-icone;
//                 }
//             }
//     }
// }


