


@mixin nav {
    /* Verifier l'utilité de ce mixin*/
    @include logo();
    
    
    

}

/* Fin des propo de index.html et debt des rpops des pages restos*/

@mixin fleche() {
    a {
        .fleche {
        flex: 10%;
    /*  padding: 0 25px;       
        margin: 25px; */
        padding: 0 50px 0 20px;
        font-size: 20px;
        }
    }
}



@mixin logo {
    /* Ce mixin appartient aux restos*/
    .logo {
        display: flex;        
        flex: 65%;
        justify-content: center;
        font-size: 30px;
        // margin: 10px 0;
        padding: 10px 20px 10px 0;
        font-family: $shrikhand;
        font-weight: $gras;
            
    }  
}
/*Ces 2 gros mixins CI DESSOUS contiennent 
des proprietes chacunes qui se repetent 2fois*/

@mixin fonctionnement__degustez {
    display: flex;
    flex: 80%;
    align-items: center;
    flex-direction: row;
    text-align: center;
    text-align-last: start;
    border-radius: 20px;
    margin: 15px;
    padding: 15px;
    background-color: $gris-fonce;
    box-shadow:0px 5px 13px -4px #c1c1c1;
}


@mixin fonctionnement__numero-choix {
    color: $blanc;
    margin: 10px;
    position: relative;
    margin-left: -25px;
    background-color: $primary-color;
    padding: 5px 10px;
    border-radius: 20px;
}
/* Fin des 2 mixins lourdes*/


@mixin lien-prop {
    text-decoration: none;
    color: black;
}
/* en haut les mixin pour index*/
         

@mixin full-heart {
    @keyframes full-heart {
        0% {
            opacity: 0;
            font-size: 30px
        }
    
        25% {
            transform-origin:center;
            transform: scale(1.5);
            opacity: 0.5;
            font-size: 40px;
        }
    
        50% {
            opacity: 1;
            font-size: 30px;
            transform: scale(0.8)
        }
    
        75% {
            transform-origin:center;
            transform: scale(1.5);
            opacity: 0.5;
            font-size: 40px;
        }
    
        100% {
            opacity: 1;
            font-size: 30px;
        }
    
    }
}






/*Fin des mixins de index tests */


// /* FIN DE CODE INDEX ici*///////////////////////////////////////////

/* Fin min les restos*/









// // @mixin heading-shadow($colour:lightness-shift($colour-primary), $offset: $heading-shadow-size){
// //     text-shadow: $offset $offset $colour;
// // }

// // @mixin border($colour:$colour-primary) {
// //     border: .1rem solid $colour;
// // }

// // @mixin img-ratio {
// //     width: 100%;
// //         display: block;
// //         overflow: hidden;
// //         padding-top: 56.25%;
// //         position: relative;
// //         & img {
// //             position: absolute;
// //             top: 50%;
// //             left: 50%;
// //             width: 100%;
// //             transform: translate(-50%, -50%);
// //         }
// // }

// // @mixin btn {
// //     padding: $grid-gutter;
// //     @include border;
// //     color: $colour-primary;
// //     background: $colour-secondary;
// //     cursor: pointer;
// //     &:hover{
// //         background: $colour-primary;
// //         color: $colour-accent;
// //     }
// //     &--full-width {
// //         width: 100%;
// //         margin: 0 auto;
// //     }
// // }

