
main {
  display: flex;
  flex: 100%;
  flex-direction: column;

  // .nom-menu  {

  // }

  .photo-affiche {
    display: flex;
    flex: 100%;
    height: 275px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;

    & img {
      width: 100%;
      object-fit: cover;
    
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    background-color: rgb(240, 240, 240);
    position: relative;
    margin-top: -65px;
    padding: 0 5px;
    border-radius: 40px 40px 0 0;

    .presentation {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      margin: 10px;

      .nom__presentation {
        
        .nom__titre {
          font-size: 28px;
          font-family: $shrikhand;
          font-weight: $gras;

          @extend %text-hidden;
        }
      }

      .icone-coeur {
        display: flex;
        margin: 10px 0;
        font-size: 23px;

        .active {
          display: flex;
          justify-content: center;
          align-items: center;
          /*  background-clip: text;
              webkit-background-clip: text;
              color: transparent;*/
                    font-weight: 500;
          &:active {

            font-size: 30px;
            color: #ca72e7;
            animation: full-heart 1s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;


          background:linear-gradient(0deg, $primary-color, transparent);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
            
            
          }

          @include full-heart; 
          
          // &:after {
          //   background:linear-gradient(0deg, $primary-color, $primary-color);
          // }

        }
        
        .test {
          background-color: red;
        }

      }
    }

    
  }
}
