
body {
    margin: 0;
  }

header {

}

nav {

}

.fleche {
    flex: 10%;
    float: left;
}



main {
    flex-direction: column;
}
.nom-menu


.photo-affiche {
    display: flex;
    flex: 100%;
    height: 275px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;

}
 


.photo-affiche img {
    display: flex;
    object-fit: cover;

    border: 1px dotted red;
}

.menu {
    padding: 10px;
    background-color: rgb(240, 240, 240);
}

.presentation {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.nom__presentation {

}

.nom__titre {
    margin: 20px;
}

.icone-coeur {
    margin: 20px 10px;
}


.entree {

}

.entree__titre {
    
    border: 1px solid#99E2D0;
}

.entree__groupe {

}

.entree__choix {

}

.choix__plat {

}

.choix__accompagnement {

}


.plat {

}

.plat__titre {

}

.plat__groupe {

}


.dessert {
    
}




