
body {
    margin: 0;
    font-family: 'Roboto';
 
  }

header {

}

nav {
    display: flex;
    flex: 100%;
    align-items: center;

}

.fleche {
    flex: 10%;
    padding: 0 25px;
    /* margin: 25px; */
    font-size: 20px;
}

.logo {
    display: flex;
    
    flex: 65%;
    font-size: 30px;
    padding: 20px 0;
    padding: 20px 0 20px 50px;
    
}
.shrikhand {
    font-family: 'Shrikhand';
}
.super-gras {
    font-weight: 600;
}
main {
    flex-direction: column;
}
.nom-menu


.photo-affiche {
    display: flex;
    flex: 100%;
    height: 275px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;

}
 


.photo-affiche img {
    
    width: 100%;
    object-fit: cover;
}

.menu {
    /* padding: 10px; */
    background-color: rgb(240, 240, 240);
    position: relative;
    margin-top: -65px;
    padding: 0 5px;
    border-radius: 40px 40px 0 0;
}

.presentation {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
}

.nom__presentation {

}

.nom__titre {

    font-size: 28px;
}

.icone-coeur {
    margin: 10px 0;
    display: flex;
    font-size: 23px;
}


.entree {

}

.entree__titre {
    
    border-bottom: 3px solid#99E2D0;
    margin: 10px;
    width: 40px;
}

.entree__groupe {

}

/* entree__composition à la fin va prendre le nom en bas de entree__choix et inversement */
.entree__composition {
    display: flex;
    flex-grow: 4;
    justify-content: space-between;
    flex-direction: row;
    margin: 15px;
    background-color: white;
    /* padding: 10px; */
    border-radius: 15px;
    cursor: grab;
}
.entree__choix {
     margin: 5px;
   /* background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px; */
    flex: 75%;
    transition: all 1000s;
}

.choix__assiette {
    margin: 5px;
    font-size: 18px;
}
.gras {
    font-weight: 500;
}

.choix__accompagnement {
    margin: 5px;
    font-size: 15px;
}
.prix {
    display: flex;
    align-items: flex-end;
    margin: 0 20px 10px 0;
    transition: all 500s;
}

.ok {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    background-color: #99E2D0;
    border-radius: 0 10px 10px 0;
    font-size: 20px;
    overflow: hidden;
    /* transform: translateX(10px), rotateX(30);  ceci est une errer mais je ne voies pas a quel où.... confusion. */
    transition: all 1000ms ease-in-out;
}

.prix:hover {
    /* justify-content: center;
    background-color: purple;
    opacity: 0.5;
    border-radius: 30px;
    width: 60px;
    padding: 20px; */
    
}
    /* On dirait que si dessous les modificatio*/

.prix:hover + .ok{
    transition-duration: 1000ms; 
    
  
     transform: rotateX(85), translateX(100%) 10000ms;
    background-color: #99E2D0 1000ms;
    width: 60px;
}





.plat {

}

.plat__titre {
    border-bottom: 3px solid#99E2D0;
    margin: 10px;
    width: 40px;
}

.plat__groupe {

}

.plat__choix {
    margin: 10px;
    background-color: white;
    /* padding: 10px; */
    margin: 10px;
    border-radius: 20px;
    flex: 75%;
}
.plat__assiette {
    margin: 5px;
    font-size: 18px;
}
.plat__accompagnement {
    margin: 5px;
    font-size: 15px;
}

.dessert {

}

.dessert__titre {
    border-bottom: 3px solid#99E2D0;
    margin: 10px;
    width: 40px;
}

.dessert__groupe {

}

.dessert__choix {
    margin: 10px;
    background-color: white;
    /* padding: 10px; */
    margin: 10px;
    border-radius: 20px;
    flex: 75%;
}
.dessert__assiette {
    margin: 5px;
}
.dessert__accompagnement {
    margin: 5px;
}

.bouton {
    display: flex;
    justify-content: center;
}
.bouton-commander {
    background: linear-gradient(0deg, #9356DC, transparent);
    background-color: #FF79DA;
    border-radius: 30px;
    color: white;
    margin: 35px 20px;
    padding: 20px 50px;
    border: none;
    font-size: 17px;
}



footer {
   
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #393939;
    color: white;
    padding: 10px 20px; 
    margin: 0;
}

.footer__logo {
    /* font-family: 'Shrikhand', 'cursive', 'Cambria'; */
    margin: 20px 5px; 
    font-size: 18px;
    list-style: none;
}

.footer__proposition {
    display: flex;
    flex-direction: row;
}
.footer__icone {
    margin: 5px;
}
/* .footer__couverts {
    margin: 5px;
} */

.footer__phrase-proposition {
    margin: 5px;
}

.footer__bepartner {
    display: flex;
    flex-direction: row;
}

.footer__item {
    margin: 5px;
}

.footer__legal {
    display: flex;
    margin: 5px;
}

.footer__phraselegale {
    
}

.footer__contact {
    display: flex;
    margin: 5px 5px 25px 5px;
    
}

.footer__phrasecontakt {
    color: white;
}


 /*   Ici se termine la partie de breakpoints mobile  et en bas on passe au desktop */